bind_address = ":8089"
log_level = "debug"
front_origin_url = "http://localhost:3000"
local_origin_url = "http://localhost:3000"

# tarantool
tarantool_address = ":3302"
username = "username"
password = "password"
timeout = 3
orders_space_id = 513
waiters_space_id = 514

# kafka
kafka_address = ":9092"
topic_name = "topic-1"
consumer_group = "cg-1"
