bind_address = ":8089"
log_level = "debug"

# tarantooldb
tarantooldb_address = ":3301"
username = "username"
password = "password"
timeout = 3

# kafka
kafka_address = ":9092"
topic_name = "topic-1"
consumer_group = "cg-1"
